<div>
  <h2 style="display: flex; justify-content: center; margin-top: 50px; font-size: 30px;">TRIA UNA CATEGORIA</h2>
  <div class="category-container">
    <button
      class="category-button canet-button"
      (click)="selectCategory('CANET')"
    >
    ☕ 
      Canet ☕
    </button>
    <button
      class="category-button media-button"
      (click)="selectCategory('MEDIA')"
    >
    📽 
      Media 📽
    </button>
    <button
      class="category-button sonia-button"
      (click)="selectCategory('SONIA')"
    >👧 
      Sònia 👧
    </button>
  </div>
</div>
