/* team-selector.component.scss */
.team-container {
    display: flex;
    justify-content: center;
  }
.team-button {
    font-family: 'Waltograph';
    src: url('../../assets/fonts/waltographUI.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    margin-bottom: 10px;
    margin: 3px;
    white-space: nowrap;
    flex: 1;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    background-color: #fbbe4f;
    color: white;
    text-align: center;
    text-transform: uppercase;
    border: none;
    font-size: 18px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }