<!-- question.component.html -->
<div *ngIf="currentQuestion">
  <div class="info-container">
    <h4>Category: {{ currentCategory }}</h4>
    <h4>Team: {{ selectedTeam }}</h4>
    <h4>Correct Answers: {{ correctAnswers }}</h4>
  </div>
  <!-- Display the correct answers -->
  <div class="question-content-container">
    <p>{{ currentQuestion.question }}</p>
  </div>
  <div class="answer-options">
    <button
      *ngFor="let option of currentQuestion.options"
      class="answer-button"
      (click)="checkAnswer(option)"
    >
      {{ option }}
    </button>
  </div>
</div>
<div class="skip-button-container">
  <!-- Show the Skip Question button only if skipCounter > 0 -->
  <button
    class="skip-button"
    (click)="onNextQuestion()"
  >
    Skip Question (SOLO 1 USO)
  </button>
</div>

<div class="popup" *ngIf="showPopup">
  <div class="popup-content">
    <p>{{ popupMessage }}</p>
    <button (click)="resetGame()">RESETEA!</button>
  </div>
</div>
