<!-- app.component.html -->
<div class="app-container">
  <div class="title-container">
    <img src="assets/lalapic.png" alt="lalita" class="fade-in disney-image" />

    <h1
      style="
        align-self: center;
        font-size: 50px;
        padding: 10px;
        border-bottom: 10px solid #f7d948;
      "
    >
      TRIVIA SONIASTIC
    </h1>
    <img
      src="assets/lalapic.png"
      alt="lalita"
      class="fade-in disney-image inverted"
    />
  </div>
  <app-game class="game-container"></app-game>
</div>
